*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  font-size: 2rem; }

::selection {
  background-color: #219ebc;
  color: #fff; }

input:focus, textarea:focus, select:focus, button:focus {
  outline: none; }

body {
  font-family: 'Rasa', serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase; }

.task--text {
  line-height: 1.2; }

.u--text-important {
  text-transform: uppercase;
  font-weight: bold; }

.u--margin-bottom-small {
  margin-bottom: 1rem; }

.u--margin-bottom-medium {
  margin-bottom: 3rem; }

.u--margin-bottom-big {
  margin-bottom: 8rem; }

.u-underline--magical {
  background-image: linear-gradient(120deg, #ffb703 0%, #fb8500 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in; }
  .u-underline--magical:hover {
    background-size: 100% 88%; }

.button {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 1rem 2rem; }

.btn-task {
  background-color: #219ebc;
  font-weight: 700;
  color: white;
  border: transparent;
  border-radius: .5rem;
  font-weight: 700;
  padding: 1.5rem 2.5rem;
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out; }
  .btn-task:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); }
  .btn-task:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

@keyframes pulse {
  from {
    transform: scale(1); }
  50% {
    transform: scale(0.85); }
  to {
    transform: scale(1); } }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 3rem 3rem;
  background-color: #023047; }
  .footer__info-bar {
    color: #fff;
    letter-spacing: .125rem; }

.header__text--main {
  display: block;
  font-size: 5.95rem;
  letter-spacing: .35rem; }

.header__text--small {
  display: block;
  font-size: 2.5rem; }

.content--grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 3rem; }

.information {
  padding: 5rem 10rem; }
  .information__text {
    text-align: justify; }

.container__task {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 3fr;
  grid-gap: 4rem;
  padding: 4rem; }
  .container__task--sound {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center; }
  .container__task--plot {
    grid-column: 1/3; }
