body {
  font-family: 'Rasa', serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.task--text {
  line-height: 1.2;
}
