.u--text-important {
  text-transform: uppercase;
  font-weight: bold;
}

.u--margin-bottom-small {
  margin-bottom: 1rem;
}

.u--margin-bottom-medium {
  margin-bottom: 3rem;
}

.u--margin-bottom-big {
  margin-bottom: 8rem;
}

.u-underline--magical {
  background-image: linear-gradient(120deg, $color-secondary-light 0%, $color-secondary-dark 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}
